*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    max-width: 1350px;
    margin: auto;
    padding: 0 32px;
}

nav{
    width: 100%;
    padding: 15px 0;
    position: absolute;
    z-index: 1000;
    transition: all .5s ease;
    .navbar{
        @include flex;
        img{
            cursor: pointer;
        }
        ul{
            display: flex;
            align-items: center;
            gap: 40px;
            li{
                list-style-type: none;
                font-family: $font-family1;
                font-size: 16px;
                a{
                    text-decoration: none;
                    color: $color1;
                }
            }
            button{
                width: 150px;
                height: 50px;
                background-color: $color2;
                cursor: pointer;
                color: $color1;
                font-family: $font-family1;
                font-size: 15px;
                border: 1px solid $color2;
            }
            i{
                display: none;
                font-size: 40px;
                color: $color1;
                cursor: pointer;
            }
        }
    }
}

.modal{
    width: 100%;
    background-color: $color3;
    position: absolute;
    top: 80px;
    left: 0vh;
    z-index: 1001;
    ul{
        display: flex;
        flex-direction: column;
        padding: 30px;
        gap: 30px;
        li{
            list-style-type: none;
            font-family: $font-family1;
            font-size: 16px;
            a{
                text-decoration: none;
                color: $color1;
            }
        }
        button{
            width: 150px;
            height: 50px;
            background-color: $color2;
            cursor: pointer;
            color: $color1;
            font-family: $font-family1;
            font-size: 15px;
            border: 1px solid $color2;
        }
    }
}

.none{
    display: none;
}

.hurricane{
    visibility: hidden;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    @include center;
    border-radius: 50%;
    background-color: $color2;
    transition: all .5s ease;
    cursor: pointer;
    i{
        font-size: 25px;
        color: $color1;
    }
}

.section1{
    width: 100%;
    padding: 150px 0 80px 0;
    background-image: linear-gradient(rgba($color2, 0.4),rgba($color2, 0.4)) ,url("../images/h1_hero1.jpg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    .simple{
        @include center;
        gap: 150px;
            .final{
            width: 40%;
            padding-right: 50px;
            display: flex;
            flex-direction: column;
            gap: 25px;
            h1{
                font-family: $font-family1;
                font-size: 55px;
                color: $color1;
                position: relative;
                &::after{
                    content: "";
                    position: absolute;
                    width: 110px;
                    bottom: -10px;
                    height: 3px;
                    left: 0;
                    background: $color1;
                }
            }
            p{
                font-family: $font-family1;
                font-size: 22px;
                color: $color1;
            }
            button{
                width: 200px;
                height: 60px;
                font-family: $font-family2;
                font-size: 15px;
                color: $color1;
                background: none;
                border: 3px solid $color1;
                transition: all .5s ease;
                text-transform: uppercase;
                font-weight: 600;
                &:hover{
                    background: $color2;
                    cursor: pointer;
                    border-color: $color2;
                }
            }
        }
        .how{
            width: 35%;
            background-color: $color1;
            padding: 50px 40px; 
            @include center;
            flex-direction: column;
            gap: 10px;
            h2{
                font-family: $font-family1;
                font-size: 25px;
                color: $color3;
            }
            #p1{
                font-family: $font-family2;
                color: $color4;
                font-size: 14px;
                font-weight: 600;
                position: relative;
                &::after{
                    content: "";
                    position: absolute;
                    width: 110px;
                    bottom: -30px;
                    height: 3px;
                    left: 60px;
                    background: $color2;
                }
            }
            #p2{
                font-family: $font-family2;
                color: $color4;
                font-size: 16px;
                font-weight: 600;
            }
            form{
                width: 100%;
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                gap: 15px;
                margin-top: 25px;
                label{
                    font-family: $font-family2;
                    color: $color4;
                    font-size: 12px;
                    font-weight: 600;
                    text-transform: uppercase;
                    margin-top: 10px;
                    span{
                        color: $color2;
                        font-size: 17px;
                        font-weight: bold;
                    }
                }
                select{
                    width: 100%;
                    height: 45px;
                    border: 1px solid rgba($color: $color4, $alpha: 0.4);
                    cursor: pointer;
                    padding-left: 15px;
                    font-family: $font-family1;
                    background-color: $color1;
                    option{
                        width: 100%;
                        height: 45px;
                        border: 1px solid rgba($color: $color4, $alpha: 0.4);
                        cursor: pointer;
                        font-family: $font-family1;
                        background-color: $color2;
                    }
                }
                button{
                    width: 100%;
                    height: 50px;
                    background-color: $color2;
                    border: 1px solid $color2;
                    color: $color1;
                    font-family: $font-family1;
                    font-size: 15px;
                    text-transform: uppercase;
                    cursor: pointer;
                    margin: 10px 0;
                }
            }
        }
    }
}

.section2{
    width: 100%;
    padding: 80px 0;
    .solution{
        @include center;
        flex-direction: column;
        gap: 50px;
        h2{
            font-family: $font-family1;
            font-size: 33px;
            color: $color3;
            text-align: center;
            position: relative;
            &::after{
                content: "";
                position: absolute;
                width: 110px;
                height: 3px;
                bottom: -20px;
                left: 200px;
                background-color: $color2;
            }
        }
        p{
            font-family: $font-family2;
            font-size: 16px;
            color: $color4;
            text-align: center;
        }
    }
    .search{
        width: 100%;
        margin-top: 50px;
        @include center;
        input[type=search]{
            width: 400px;
            height: 50px;
            font-family: $font-family1;
            font-size: 16px;
            padding-left: 15px;
            border: 2px solid $color5;
            background-color: $color1;
            &:focus{
                outline: none;
            }
        }
    }
    .data{
        @include flex;
        flex-wrap: wrap;
        margin-top: 80px;
        .car{
            width: 32%;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            position: relative;
            i{
                position: absolute;
                top: 20px;
                right: 20px;
                font-size: 30px;
                color: red;
                cursor: pointer;
            }
            img{
                width: 55px;
            }
            span{
                font-family: $font-family1;
                font-size: 14px;
                color: $color2;
            }
            h2{
                font-family: $font-family1;
                font-size: 22px;
                color: $color3;
            }
            p{
                font-family: $font-family2;
                font-size: 18px;
                color: $color4;
                line-height: 1.6;
            }
            button{
                width: 150px;
                height: 45px;
                border: 1px solid $color2;
                background-color: $color2;
                font-family: $font-family1;
                font-size: 16px;
                color: $color1;
                margin-left: 60px;
                cursor: pointer;
                transition: all .5s ease;
                &:hover{
                    background-color: $color5;
                }
            }
        }
    }
    .load{
        @include center;
        margin-top: 60px;
        button{
            width: 150px;
            height: 40px;
            border: 1px solid $color5;
            background-color: $color5;
            color: $color1;
            font-family: $font-family1;
            font-size: 16px;
            transition: all .5s ease;
                &:hover{
                    background-color: $color3;
                    cursor: pointer;
                }
        }
    }
}

.section3{
    width: 100%;
    padding: 100px 0 80px 0;
    background-color: $color6;
    .make{
        @include flex;
        .picture{
            width: 42%;
            position: relative;
            img{
                width: 100%;
            }
            .position{
                background-color: $color2;
                position: absolute;
                right: -50px;
                bottom: -50px;
                width: 250px;
                padding: 40px 0;
                @include center;
                flex-direction: column;
                h2{
                    font-family: $font-family1;
                    color: $color1;
                    font-size: 70px;
                }
                p{
                    font-family: $font-family1;
                    color: $color1;
                    font-size: 16px;
                }
            }
        }
        .project{
            width: 42%;
            display: flex;
            flex-direction: column;
            gap: 30px;
            h2{
                font-family: $font-family1;
                color: $color3;
                font-size: 35px;
            }
            p{
                font-family: $font-family2;
                color: $color4;
                font-size: 16px;
                line-height: 1.6;
            }
            hr{
                border-color: rgba($color: $color4, $alpha: 0.2);
            }
            ul{
                display: flex;
                flex-direction: column;
                gap: 20px;
                li{
                    font-family: $font-family1;
                    font-size: 17px;
                    list-style-type: none;
                    display: flex;
                    gap: 25px;
                }
            }
            button{
                width: 180px;
                height: 60px;
                border: 2px solid $color2;
                background: none;
                color: $color2;
                transition: all .5s ease;
                font-family: $font-family1;
                font-size: 16px;
                font-weight: 700;
                margin-top: 10px;
                &:hover{
                    background: $color2;
                    color: $color1;
                    cursor: pointer;
                }
            }
        }
    }
}

.section4{
    width: 100%;
    padding: 100px 0;
    background-color: $color7;
    .choose{
        @include center;
        flex-direction: column;
        gap: 50px;
        h2{
            font-family: $font-family1;
            font-size: 35px;
            color: $color3;
            text-align: center;
            position: relative;
            &::after{
                content: "";
                position: absolute;
                width: 110px;
                height: 3px;
                bottom: -20px;
                left: 80px;
                background-color: $color2;
            }
        }
        p{
            font-family: $font-family2;
            font-size: 16px;
            color: $color4;
            text-align: center;
        }
    }
    .online{
        @include flex;
        margin-top: 80px;
        .time{
            width: 23%;
            // padding: 50px;
            @include center;
            flex-direction: column;
            gap: 35px;
            .imag{
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background-color: $color1;
                @include center;
                img{
                    width: 100px;
                }
            }
            h2{
                font-family: $font-family1;
                font-size: 22px;
                color: $color3;
            }
            p{
                font-family: $font-family2;
                font-size: 19px;
                color: $color4;
                line-height: 1.5;
                text-align: center;
            }
        }
    }
}

.section5{
    width: 100%;
    padding: 100px 0 80px 0;
    background-color: $color6;
    .step{
        @include flex;
        .tool{
            width: 42%;
            display: flex;
            flex-direction: column;
            gap: 30px;
            h2{
                font-family: $font-family1;
                color: $color3;
                font-size: 35px;
            }
            p{
                font-family: $font-family2;
                color: $color4;
                font-size: 16px;
                line-height: 1.6;
            }
            hr{
                border-color: rgba($color: $color4, $alpha: 0.2);
            }
            ul{
                display: flex;
                flex-direction: column;
                gap: 20px;
                li{
                    font-family: $font-family1;
                    font-size: 17px;
                    list-style-type: none;
                    display: flex;
                    gap: 25px;
                }
            }
            button{
                width: 180px;
                height: 60px;
                border: 2px solid $color2;
                background: none;
                color: $color2;
                transition: all .5s ease;
                font-family: $font-family1;
                font-size: 16px;
                font-weight: 700;
                margin-top: 10px;
                &:hover{
                    background: $color2;
                    color: $color1;
                    cursor: pointer;
                }
            }
        }
        .person{
            width: 42%;
            img{
                width: 100%;
            }
        }
    }
}

.section6{
    width: 100%;
    padding: 100px 0;
    .late{
        @include center;
        flex-direction: column;
        gap: 50px;
        h2{
            font-family: $font-family1;
            font-size: 35px;
            color: $color3;
            text-align: center;
            position: relative;
            &::after{
                content: "";
                position: absolute;
                width: 110px;
                height: 3px;
                bottom: -20px;
                left: 50px;
                background-color: $color2;
            }
        }
    }
    .finish{
        @include flex;
        margin-top: 80px;
        .start{
            width: 32%;
            transition: all .5s ease;
            cursor: pointer;
            .top{
                width: 100%;
                height: 55%;
                img{
                    width: 100%;
                }
            }
            .bottom{
                width: 100%;
                height: 45%;
                padding: 20px 0;
                display: flex;
                flex-direction: column;
                gap: 20px;
                span{
                    font-family: $font-family1;
                    font-size: 16px;
                    color: rgb(185, 187, 188);
                }
                h2{
                    font-family: $font-family1;
                    font-size: 23px;
                    color: $color3;
                    transition: all .5s ease;
                }
                p{
                    font-family: $font-family2;
                    font-size: 18px;
                    color: $color4;
                    line-height: 1.5;
                }
            }
            &:hover h2{
                color: $color2;
            }
        }
    }
}

.hr{
    hr{
        border-color: rgba($color: $color4, $alpha: 0.2);
    }
}

footer{
    width: 100%;
    padding: 22px 0;
    background-color: $color7;
    @include center;
    p{
        font-family: $font-family1;
        font-size: 15px;
        color: $color4;
        text-align: center;
        i{
            color: $color2;
        }
        a{
            text-decoration: none;
            color: $color2;
        }
    }
}

.details{
    width: 100%;
    padding: 100px 0;
    @include center;
    .car{
        width: 32%;
        border: 2px solid $color2;
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 80px;
        img{
            width: 55px;
        }
        span{
            font-family: $font-family1;
            font-size: 14px;
            color: $color2;
        }
        h2{
            font-family: $font-family1;
            font-size: 22px;
            color: $color3;
        }
        p{
            font-family: $font-family2;
            font-size: 18px;
            color: $color4;
            line-height: 1.6;
        }
    }
}

.back{
    position: absolute;
    left: 25px;
    bottom: 25px;
    button{
        width: 120px;
        height: 35px;
        background-color: $color5;
        border: 1px solid $color5;
        color: $color1;
        cursor: pointer;
        font-family: $font-family1;
        font-size: 15px;
        border-radius: 20px;
    }
}

.add{
    width: 100%;
    @include center;
    form{
        width: 400px;
        margin-top: 80px;
        border: 2px solid $color5;
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        img{
            width: 60px;
            margin-left: 120px;
        }
        label{
            font-family: $font-family1;
            font-size: 17px;
            margin-top: 10px;
        }
        input[type=file]::file-selector-button{
            width: 120px;
            height: 40px;
            border: 1px solid $color2;
            background-color: $color2;
            font-family: $font-family1;
            font-size: 16px;
            color: $color1;
            margin-top: 10px;
            cursor: pointer;
        }
        input[type=text]{
            width: 100%;
            height: 40px;
            border: 1px solid $color1;
            background-color: $color1;
            padding-left: 15px;
            font-family: $font-family1;
            font-size: 16px;
            &:focus{
                outline: none;
            }
        }
        input[type=submit]{
            width: 150px;
            height: 40px;
            border: 1px solid $color2;
            background-color: $color2;
            margin-left: 85px;
            font-family: $font-family1;
            font-size: 16px;
            color: $color1;
            margin-top: 10px;
            cursor: pointer;
        }
    }
}

.favorites{
    width: 100%;
    h1{
        font-family: $font-family1;
        font-size: 40px;
        text-align: center;
        color: $color5;
        margin-top: 40px;

    }
    #favorite{
        @include flex;
        flex-wrap: wrap;
        margin-top: 100px;
        .car{
            width: 32%;
            border: 2px solid $color5;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            position: relative;
            i{
                position: absolute;
                top: 20px;
                right: 20px;
                font-size: 30px;
                color: red;
                cursor: pointer;
            }
            img{
                width: 55px;
            }
            span{
                font-family: $font-family1;
                font-size: 14px;
                color: $color2;
            }
            h2{
                font-family: $font-family1;
                font-size: 22px;
                color: $color3;
            }
            p{
                font-family: $font-family2;
                font-size: 18px;
                color: $color4;
                line-height: 1.6;
            }
            button{
                width: 150px;
                height: 45px;
                border: 1px solid $color2;
                background-color: $color2;
                font-family: $font-family1;
                font-size: 16px;
                color: $color1;
                margin-left: 60px;
                cursor: pointer;
                transition: all .5s ease;
                &:hover{
                    background-color: $color5;
                }
            }
        }
    }
}

@media screen and (max-width: 990px) {
    .container{
        max-width: 800px;
    }
    nav{
        .navbar{
            ul{
                li{
                    display: none;
                }
                button{
                    display: none;
                }
                i{
                    display: block;
                }
            }
        }
    }
    .section1{
        .simple{
            @include flex;
            gap: 50px;
            .final{
                width: 47%;
                h1{
                    font-size: 45px;
                }
            }
            .how{
                width: 47%;
            }
        }
    }
    .section2{
        .data{
            gap: 30px;
            .car{
                width: 45%;
            }
        }
    }
    .section3{
        .make{
            flex-direction: column;
            gap: 100px;
            .picture{
                width: 80%;
            }
            .project{
                width: 80%;
            }
        }
    }
    .section4{
        .online{
            flex-wrap: wrap;
            gap: 30px;
            .time{
                width: 30%;
            }
        }
    }
    .section5{
        .step{
            flex-direction: column;
            align-items: flex-start;
            gap: 80px;
            .tool{
                width: 70%;
            }
            .person{
                width: 70%;
            }
        }
    }
    .section6{
        .finish{
            flex-wrap: wrap;
            gap: 30px;
            .start{
                width: 45%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .container{
        max-width: 600px;
    }
    .section1{
        .simple{
            flex-direction: column;
            gap: 50px;
            .final{
                width: 100%;
            }
            .how{
                width: 80%;
            }
        }
    }
    .section3{
        .make{
            align-items: flex-start;
            .project{
                width: 100%;
                h2{
                    font-size: 25px;
                }
            }
        }
    }
    .section4{
        .online{
            gap: 50px;
            .time{
                width: 45%;
            }
        }
    }
    .section5{
        .step{
            align-items: flex-start;
            .tool{
                width: 100%;
                h2{
                    font-size: 25px;
                }
            }
            .person{
                width: 80%;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .container{
        max-width: 1350px;
    }
    .section1{
        .simple{
            .how{
                width: 100%;
            }
        }
    }
    .section2{
        .data{
            gap: 50px;
            flex-direction: column;
            .car{
                width: 100%;
            }
        }
    }
    .section3{
        .make{
            .picture{
                width: 100%;
                .position{
                    width: 200px;
                    padding: 20px 0;
                    right: 0;
                }
            }
        }
    }
    .section4{
        .online{
            flex-direction: column;
            gap: 50px;
            .time{
                width: 100%;
            }
        }
    }
    .section5{
        .step{
            .person{
                width: 100%;
            }
        }
    }
    .section6{
        .finish{
            flex-direction: column;
            gap: 50px;
            .start{
                width: 100%;
            }
        }
    }
}