$color1: white;
$color2: seagreen;
$color3: #0F4332;
$color4: dimgrey;
$color5: rgb(24, 81, 48);
$color6: #E4F1ED;
$color7: #F4FCFA;

$font-family1: 'Poppins', sans-serif;
$font-family2: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;